<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <form action="/add/" method="post">
        <table>
            <tr>
                <th>Name : </th>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <th>Phone : </th>
                <td><input type="text" name="phone" required></td>
            </tr>
            <tr>
                <th>Alternate Phone : </th>
                <td><input type="text" name="altPhone"></td>
            </tr>
            <tr>
                <th>email : </th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>Address : </th>
                <td><input type="text" name="address"></td>
            </tr>
        </table>
        <input type="submit" value="Add Contact">
    </form>
</body>
</html>